html,body{
    margin: 0px; padding: 0px;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4 ;
    font-family: sans-serif;
}
header{
    text-align: center;
    background-color: #5e2a7e;
    color: white;
    padding: 30px;
}
header h1,p{
    margin: 0;
}
main{
    flex: 1;
}
.elementos{
    display: flex;
    justify-content: center;
}
.card{
    align-items: center;
    text-align: center;
    margin: 50px;
    border-radius: 10px;
    height: 550px;
    width: 350px;
    border: solid #eaeaea 2px;
    background-color: white;
}
.card p{
    text-align: justify;
    margin: 20px;
}
.card img{
    margin-top: 10px;
}
a{
    border-radius: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    width: 30%;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    background-color: #50a4ff;
}
footer{
    margin: 0px; padding: 30px;
    text-align: center;
    color: gray;
    background-color: #dddddd;
}





